DISCORD_TOKEN=
VERIFY_MIN_ACCOUNT_DAYS=7
RAID_JOIN_THRESHOLD=4
RAID_JOIN_WINDOW_MS=12000
RAID_MODE_MS=1200000
RAID_SPAM_COUNT=5
RAID_SPAM_WINDOW_MS=4000
RAID_TIMEOUT_MINUTES=10
RAID_MENTION_LIMIT=3
RAID_DUPLICATE_LIMIT=3
